.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.grid-item {
    /*overflow-y: scroll;*/
    margin: 20px 20px 20px 20px;
    border-width: 20px;
    border-color: black;
}

.grid-item-scroll {
    overflow-y: scroll;
    margin: 20px 20px 20px 20px;
    border-width: 20px;
    border-color: black;
    height: 70%;
}
