.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
}

.item {
    overflow-y: scroll;
    margin: 20px 20px 20px 20px;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
}
